PyPDF2
PyYAML
chromadb
duckduckgo-search
duckduckgo_search
flask
kafka-python
langchain
langchain-community
langchain-ollama
langchain-text-splitters
langchain-chroma
litellm
numpy
ollama
openai
pandas
pydantic
python-dotenv
requests
wikipedia
youtube_transcript_api
tweepy
telethon
xrpl-py